@import "borders";
@import "spacing";

.container {
  position: absolute;
  width: 100%;
  background-color: red;
  width: calc(406px - calc($space-5 * 2));
  right: -406px;
  transition: right 0.65s ease-in-out;
  padding: $space-4 $space-5;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }

  &::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 3px;
    width: 3px;
  }
}

.is-open {
  right: 0;
}

.spell-image {
  width: 50px;
  height: 50px;
  border-radius: $border-radius-medium;
  filter: grayscale(100%);
  clip-path: url(#squircleClip);
  position: absolute;
  left: 0;
  top: 0;
}

.spell-button {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: $border-radius-medium;
  width: 50px;
  height: 50px;
  margin-top: $space-2;
  margin-bottom: $space-4;
  position: relative;

  &:not(.active-spell):hover {
    cursor: pointer;

    .border {
      scale: 1.1;
      opacity: 1;
    }
  }
}

.is-disabled {
  &:not(.active-spell):hover {
    cursor: not-allowed;

    .border {
      scale: 0;
      opacity: 0;
    }
  }
}

.border {
  position: absolute;
  inset: 0;
  clip-path: url(#squircleClip);
  scale: 1;
  opacity: 0;
  background: #fd5;
  box-shadow: inset 10px 10px 20px #ffcb, inset -10px -10px 20px #ea18;
  border-radius: calc(var(--size) / 6);
}

.active-spell .spell-image {
  transition: filter 0.35s ease-in-out;
  filter: grayscale(0%);
}

.active-spell .border {
  animation: expand-border 0.7s forwards;
}

@keyframes expand-border {
  0% {
    scale: 1.1;
    opacity: 1;
  }
  25% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 2;
    opacity: 0;
  }
}
