<section
  #spellsMenu
  class="container"
  [class.is-open]="menuService.isSkillsMenuOpen"
>
  Feitiços de ataque
  <div>
    <div *ngFor="let spell of attackSpells">
      <ng-container
        *ngTemplateOutlet="spellButton; context: { spell: spell }"
      ></ng-container>
    </div>
  </div>

  Feitiços de cura
  <div>
    <div *ngFor="let spell of healSpells">
      <ng-container
        *ngTemplateOutlet="spellButton; context: { spell: spell }"
      ></ng-container>
    </div>
  </div>

  <svg width="0" height="0" viewBox="0 0 1 1">
    <clipPath id="squircleClip" clipPathUnits="objectBoundingBox">
      <path d="M 0,0.5 C 0,0 0,0 0.5,0 S 1,0 1,0.5 1,1 0.5,1 0,1 0,0.5" />
    </clipPath>
  </svg>
</section>

<ng-template #spellButton let-spell="spell">
  <button
    (mouseenter)="disableSpellActivation(spell) ? undefined : playHoverSound()"
    (click)="disableSpellActivation(spell) ? undefined : activeSpell(spell)"
    [id]="spell.key"
    class="spell-button"
    [class.is-disabled]="disableSpellActivation(spell)"
    appSpellPopover
    [spell]="spell"
  >
    <div class="border" aria-hidden="true"></div>
    <img [src]="spell.imageSrc" class="spell-image" />
  </button>
</ng-template>
