$space-0: 0;
$space-1: 0.25rem; // 4px
$space-2: 0.375rem; // 6px
$space-3: 0.5rem;  // 8px
$space-4: 0.75rem; // 12px
$space-5: 1rem;    // 16px
$space-6: 1.25rem; // 20px
$space-7: 1.5rem;  // 24px
$space-8: 3rem;    // 48px
$space-9: 6rem;   // 96px
