.container {
  position: absolute;
  width: 100%;
  background-color: rgb(0, 0, 0);
  max-width: 400px;
  height: 100%;
  right: -100%;
  transition: right 0.65s ease-in-out;
  display: flex;
  flex-direction: column;
}

.is-open {
  right: 0;
}

.equipped-items-container {
  display: flex;
  justify-content: space-between;
  background-color: #00000083;
  padding: 10px;
}

.left-items,
.right-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.center-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.center-items-line {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.left-weapon-spot,
.gloves-spot,
.earing-spot,
.helmet-spot,
.necklace-spot,
.armor-spot,
.cape-spot,
.ring-spot,
.belt-spot,
.right-weapon-spot,
.boots-spot {
  background-color: #ffffff83;
  padding: 5px;
  border: 1px solid #000;
  text-align: center;
  height: fit-content;
}

.belt-spot {
  width: 80px;
}

.helmet-spot {
  width: 60px;
  height: 60px;
}

.left-weapon-spot,
.right-weapon-spot {
  height: 130px;
  width: 75px;
}

.armor-spot,
.cape-spot {
  height: 130px;
  width: 75px;
}

.gloves-spot,
.boots-spot {
  width: 75px;
  height: 60px;
}

.items-container {
  display: flex;
  flex: 1;
  position: relative;
  background-image: url("/assets/images/inventory-background.png");
  background-size: 20px;
}

.item:hover {
  background-color: #000000a4;
  cursor: pointer;
  border: 1px solid #000000a4;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.item-image {
  padding: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  object-fit: contain;
}
