<section class="container" [class.is-open]="menuService.isInventoryMenuOpen">
  <div class="equipped-items-container">
    <div class="left-items">
      <div class="left-weapon-spot">left-weapon</div>
      <div class="gloves-spot">gloves</div>
    </div>
    <div class="center-items">
      <div class="center-items-line">
        <div class="earing-spot">earing</div>
        <div class="helmet-spot">helmet</div>
        <div class="necklace-spot">necklace</div>
      </div>
      <div class="center-items-line">
        <div class="armor-spot">armor</div>
        <div class="cape-spot">cape</div>
      </div>
      <div class="center-items-line">
        <div class="ring-spot">ring</div>
        <div class="belt-spot">belt</div>
        <div class="ring-spot">ring</div>
      </div>
    </div>
    <div class="right-items">
      <div class="right-weapon-spot">right-weapon</div>
      <div class="boots-spot">boots</div>
    </div>
  </div>
  <div class="items-container">
    <div
      *ngFor="let item of inventoryItems"
      class="item"
      (click)="equipItem(item)"
    >
      <img
        [src]="item.imageSrc"
        [alt]="item.name"
      />
    </div>
  </div>
</section>
