.container {
  position: absolute;
  width: 100%;
  background-color: rgb(0, 0, 0);
  max-width: 400px;
  height: 100%;
  right: -100%;
  transition: right 0.65s ease-in-out;
  display: flex;
  flex-direction: column;
}

.is-open {
  right: 0;
}

.equipped-items-container {
  display: flex;
  justify-content: space-between;
  background-color: #00000083;
  padding: 10px;
}

.left-items,
.right-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.center-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.center-items-line {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.left-weapon-spot,
.gloves-spot,
.earing-spot,
.helmet-spot,
.necklace-spot,
.armor-spot,
.cape-spot,
.ring-spot,
.belt-spot,
.right-weapon-spot,
.boots-spot {
  background-color: #ffffff83;
  border: 1px solid #000;
  text-align: center;
  height: fit-content;
  min-width: 40px;
  min-height: 40px;
}

.ring-spot,
.earing-spot,
.necklace-spot {
  width: 40px;
  height: 40px;
}

.belt-spot {
  width: 80px;
}

.helmet-spot {
  width: 60px;
  height: 60px;
}

.left-weapon-spot,
.right-weapon-spot {
  height: 130px;
  width: 75px;
}

.armor-spot,
.cape-spot {
  height: 130px;
  width: 75px;
}

.gloves-spot,
.boots-spot {
  width: 75px;
  height: 60px;
}

.items-container {
  display: grid;
  width: 100%;
  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  grid-template-rows: auto;
  // https://www.w3schools.com/css/css_grid.asp
}

.items-container-wrapper {
  display: flex;
  background-image: url("/assets/images/inventory-background.png");
  background-size: 20px;
  flex: 1;
}

.common-item {
  background: radial-gradient(circle, #0068ca85 0%, rgba(255, 0, 0, 0) 90%);
}

.rare-item {
  background: radial-gradient(circle, #aca705e0 0%, rgba(255, 0, 0, 0) 90%);
}

.epic-item {
  background: radial-gradient(circle, #ca5800d2 0%, rgba(255, 0, 0, 0) 90%);
}

.legendary-item {
  background: radial-gradient(circle, #8c029e 0%, rgba(255, 0, 0, 0) 90%);
}

.item {
  background-color: #0000009a;

  &:hover {
    background-color: #000000ca;
    cursor: pointer;
    border: 1px solid #000000ca;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
}

.item-image {
  padding: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  object-fit: contain;
  filter: contrast(120%);
}

.item:hover .item-image {
  filter: contrast(140%);
}

.equipped-item {
  background-color: #0000009a;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  object-fit: contain;
  filter: contrast(140%);
  padding: 5px;
}

.equipped-container {
  :hover {
    cursor: pointer;
    background-color: #000000c9;
  }

  width: 100%;
  height: 100%;
}
