<section class="container" [class.is-open]="menuService.isInventoryMenuOpen">
  <div class="equipped-items-container">
    <div class="left-items">
      <div class="left-weapon-spot">
        <ng-container
          *ngTemplateOutlet="
            equippedItem;
            context: { item: playerService.equippedItems.left_weapon }
          "
        ></ng-container>
      </div>
      <div class="gloves-spot">
        <ng-container
          *ngTemplateOutlet="
            equippedItem;
            context: { item: playerService.equippedItems.gloves }
          "
        ></ng-container>
      </div>
    </div>
    <div class="center-items">
      <div class="center-items-line">
        <div class="earing-spot">
          <ng-container
            *ngTemplateOutlet="
              equippedItem;
              context: { item: playerService.equippedItems.earing }
            "
          ></ng-container>
        </div>
        <div class="helmet-spot">
          <ng-container
            *ngTemplateOutlet="
              equippedItem;
              context: { item: playerService.equippedItems.helmet }
            "
          ></ng-container>
        </div>
        <div class="necklace-spot">
          <ng-container
            *ngTemplateOutlet="
              equippedItem;
              context: { item: playerService.equippedItems.necklace }
            "
          ></ng-container>
        </div>
      </div>
      <div class="center-items-line">
        <div class="armor-spot">
          <ng-container
            *ngTemplateOutlet="
              equippedItem;
              context: { item: playerService.equippedItems.armor }
            "
          ></ng-container>
        </div>
        <div class="cape-spot">
          <ng-container
            *ngTemplateOutlet="
              equippedItem;
              context: { item: playerService.equippedItems.cape }
            "
          ></ng-container>
        </div>
      </div>
      <div class="center-items-line">
        <div class="ring-spot">
          <ng-container
            *ngTemplateOutlet="
              equippedItem;
              context: { item: playerService.equippedItems.left_ring }
            "
          ></ng-container>
        </div>
        <div class="belt-spot">
          <ng-container
            *ngTemplateOutlet="
              equippedItem;
              context: { item: playerService.equippedItems.belt }
            "
          ></ng-container>
        </div>
        <div class="ring-spot">
          <ng-container
            *ngTemplateOutlet="
              equippedItem;
              context: { item: playerService.equippedItems.right_ring }
            "
          ></ng-container>
        </div>
      </div>
    </div>
    <div class="right-items">
      <div class="right-weapon-spot">
        <ng-container
          *ngTemplateOutlet="
            equippedItem;
            context: { item: playerService.equippedItems.right_weapon }
          "
        ></ng-container>
      </div>
      <div class="boots-spot">
        <ng-container
          *ngTemplateOutlet="
            equippedItem;
            context: { item: playerService.equippedItems.boots }
          "
        ></ng-container>
      </div>
    </div>
  </div>
    <div class="items-container-wrapper">
    <div class="items-container" #itemsContainer>
      <div
        *ngFor="let item of playerService.inventory"
        class="item"
        (click)="equipItem(item)"
        [style.width.px]="widthPerSlot * item.slots[0]"
        [style.height.px]="widthPerSlot * item.slots[1]"
        appItemPopover
        [item]="item"
        [class]="item.variation + '-item'"
        [style.grid-column-end]="'span ' + item.slots[0]"
        [style.grid-row-end]="'span ' + item.slots[1]"
      >
        <img [src]="item.imageSrc" [alt]="item.name" class="item-image" />
      </div>
    </div>
  </div>
</section>

<ng-template #equippedItem let-item="item">
  <div *ngIf="item" appItemPopover [item]="item" class="equipped-container">
    <img
      [src]="item.imageSrc"
      [alt]="item.name"
      class="equipped-item"
      [class]="item.variation + '-item'"
      (click)="unequipItem(item)"
    />
  </div>
</ng-template>
