.popover-container {
  padding: 1em;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  z-index: 1;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: url('/assets/images/papyrus.jpg');
  background-size: cover;
  padding: 20px;
}

.spell-popover-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.spell-popover-description {
  font-size: 1em;
  margin-bottom: 1em;
}

.spell-popover-type, 
.spell-popover-cost-description,
.spell-popover-effect-amount {
    font-size: 0.8em;
    margin-bottom: 0.2em;
    font-weight: 600;
    letter-spacing: 0.1em;
}


.item-popover-title {
  font-weight: 900;
  font-size: 1em;
  margin-bottom: 0.5em;
}

.item-popover-description {
  font-size: 1em;
  margin-bottom: 1em;
}